html{
    scroll-behavior: smooth;
}
body{
    background-color: hsl(30, 54%, 90%);
    max-width: 1440px;
    font-weight: 400;
    font-size: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    border: hsl(330, 100%, 98%) 1px solid;
    background-color: hsl(330, 100%, 98%);
    border-radius: 25px;
    padding: 20px;
    margin: 40px auto;
    max-width: 500px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.title{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.description{
    font-size: 12px;
}
.red-box{
    margin-top: 20px ;
    margin-bottom:20px;
    padding: 10px;
    background-color: hsl(0, 82%, 91%);
    font-size: 16px;
}
@media (max-width:375px){
    .container {
        margin: 10px;
    }
}
/* ::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffee, #2b65ff, #8000ff);
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff00ff, #ff1493, #ff4500, #ffd700);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 0, 255, 0.7);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #00ff00, #00ffff, #0000ff, #8a2be2);
} */
li::marker{
    color: hsl(332, 51%, 32%);
}
li{
   color: hsl(30, 10%, 34%)
}
h2{
    color: hsl(14, 45%, 36%);
}
hr{
    border: 2px solid hsl(0, 45%, 89%);
    border-width: 2px 0 0;
    margin: 10px 0;
}
div.calories, div.carbs, div.fat, div.protein{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nutrition-info {
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
}

.nutrition-info div {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 5px 0;
}
